wheel
pymupdf==1.27.2.2
fitz==0.0.1.dev2
numpy==1.26.4
ollama==0.6.1
pandas==2.3.3
pdf2image==1.17.0
pillow==12.1.1
pytest==7.3.1
torch>=2.0.0
accelerate>=0.24.0
bitsandbytes==0.49.2
accelerate==1.11.0
bert-score==0.3.13
bleu==0.3
codecarbon==3.2.3
evaluate==0.4.6
nltk==3.9.1
python-docx==1.2.0
pyphen==0.17.2
pytorch-lightning==2.5.2
pyemd==0.5.1
rouge==1.0.1
scikit-learn==1.7.1
sentence-transformers
spacy==3.8.4
textstat==0.7.13
torch==2.6.0
transformers>=5.5.0
torchvision==0.21.0
python-dotenv==1.1.0
loguru==0.7.3
pre-commit==4.2.0
python-decouple==3.8
pydantic==2.11.7
tqdm==4.67.1
matplotlib==3.10.3
scipy== 1.15.3
nltk==3.9.1
openai==1.97.0
tiktoken==0.9.0
wikipedia==1.4.0
diskcache==5.6.3
wptools==0.4.17
notebook==7.4.3
ipywidgets==8.1.7
openpyxl==3.1.5
langdetect


-e ./metrics/summac
-e ./metrics/QuestEval